<body>
    <div id="wrapper">
        <header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page"CSE Motors></a>
    </span>
    <div id="tools">
        <a href="Click to log in" href="/account/login">My Account</a>
    </div>
        </header>
    </div>
</body>