/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Custom CSS Variables */
:root {
  --primary-color: #1f91ee;
  --secondary-color: #b40003;
  --background-color: #ffffff;
  --text-color: #000000;
  --border-color: #1f91ee;
  --hover-bg-color: #0056b3;
  --active-color: #004085;
}

html {
  overflow-y: scroll;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .75rem;
  margin: 15px auto;
  padding: 10px;
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5 {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 1.75rem;
  margin: 10px;
}

h2 {
  font-size: 1.40rem;
  margin: 5px 0px;
}

.container {
  background-color: var(--background-color);
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  padding-top: 3px;
  padding-bottom: 3px;
}

/**** Header ****/
#top-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
}

.siteName a, #tools a {
  text-decoration: none;
  color: black;
}

.siteName {
  font-size: 2.25rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-decoration: none;
  color: black;
}

#tools { 
  font-family: "Spectral SC", serif; 
  font-weight: 700; 
  font-style: normal; 
  font-size: 1.15rem;
  text-decoration: none;
  color: black;
}

/**** Navigation ****/
nav {
  background-color: black;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  list-style: none;
  align-items: center;
  padding: 0px;
}

nav a {
  padding: 5px;
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.hidden {
  display: none;
}

/**** Hero ****/
.hero {
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.hero img {
  width: 80%;
  display: block;
  margin: 0 auto;
  height: auto;
}

.hero-cta {
  position: absolute;
  white-space: nowrap;
  padding: 5px;
  max-width: 40%;
  top: .5rem;
  left: 1rem;
  background-color: rgba(255, 255, 255, 0.70);
  color: var(--primary-color);
  font-weight: bolder;
}

.hero-cta h2 {
  margin: 0;
}

.hero-cta p {
  font-size: .75rem;
  margin: 0;
}

.hero-cta img {
  width: 125px;
  padding: 5px 0px;
  margin: 0px;
  align-self: flex-start;
}

/**** Content ****/
.info-section {
  background-color: #ffffff;
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-column: 1;
  grid-row: 1;
}

.upgrades h2 {
  grid-column: 1/3;
}

.upgrade {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.item {
  background-color: var(--primary-color);
  width: 80%;
  height: 100px;
  border: 2px solid #b9b9b9;
  display: flex;
}

.link {
  text-decoration: underline;
  color: var(--text-color);
  font-weight: bold;
}

.upgrade-image {
  margin: auto;
}

#inv-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

#inv-display h2 {
  font-size: 1.1rem;
}

#inv-display img {
  padding: 5px;
}

#inv-display li {
  border: 1px solid black;
  border-radius: 5px;
  width: 290px;
  margin: 10px;
  text-align: center;
  padding: 0px;
}

#inv-display hr {
  color: black;
}

#inv-display li a {
  text-decoration: none;
  color: black;
}

#inv-display li img {
  height: 120px;
  margin: auto;
}

.namePrice {
  padding: 5px 0px;
  align-items: center;
}

.namePrice hr {
  margin: 0;
  padding: 0;
  border-top: 3px solid rgb(134, 134, 134);
  height: 3px;
}

.namePrice h2 {
  margin: 0;
}

.namePrice span {
  display: block;
  font-size: .90rem;
  font-weight: bold;
}

.vehicle-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.vehicle-detail img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.vehicle-detail h2 {
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  padding: 5px 10px;
  border-bottom: 2px solid rgb(136, 136, 136);
  margin: 0px;
}

.vehicle-detail .details {
  text-align: left;
  width: 100%;
  gap: 0px;
  border: 2px solid rgb(136, 136, 136);
  border-radius: 5px;
}

.even, .odd{
  margin: 2px 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  margin: 0px;
}

.even{
  background-color: #bcdaf3;
}

footer {
  margin-top: 20px;
}

.copyright {
  font-size: .75rem;
  margin: 0;
}

.error-message {
  text-align: center;
  background: url("/images/site/error.png") no-repeat center;
  height: 300px;
  font-weight: bold;
}

.error-btn {
  background-color: rgb(172, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none; 
  border: 2px solid  rgb(172, 0, 0);
  border-radius: 9px;
  padding: 2px 15px;
  font-size: .75rem;
}

.error-btn:hover{
  background-color: white;
  color: black;
  border: 2px solid red;
}

.notice{
  color: rgb(0, 0, 0);
}

.error{
  color: rgb(255, 0, 0);
  font-weight: bold;
}

ul.no-bullets {
  list-style-type: none;
  padding-left: 40px;
  margin: 0;
}

.message-container {
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
}


















/* login/registration page */

.form-container {
  max-width: 350px;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 8px;
  text-align: center;
  font-size: .85rem;
}

.form-container p{
  margin: 8px auto;
}

.form-container label{
  font-weight: bold;
}

.form-group {
  margin-bottom: 10px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: .85rem;
}

.form-group select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.form-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.form-group input:focus:invalid, textarea:focus:invalid {
  background-color: rgb(255, 188, 188);
  background-image: url("/images/site/invalid.png");
  background-size: 16px 16px;
  background-position: right top;
  background-repeat: no-repeat;  
}

.form-group input:required:valid, textarea:required.valid {
  background-color: rgb(255, 255, 255);
  background-image: url("/images/site/valid.png");
  background-size: 16px 16px;
  background-position: right top;
  background-repeat: no-repeat;
}

.form-button {
  width: 50%;
  padding: 5px;
  margin-top: 10px;
  background-color: #c5c5c5;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

#togglePassword {
  padding: 5px;
  margin-top: 5px;
  background-color: #c5c5c5;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  font-size: .75rem;
  text-transform: uppercase; 
}


fieldset {
  border: #fff 1px solid;
}

.flash-message {
  color: red;
  font-weight: bold;
}

.success {
  color: rgb(0, 182, 70);
  font-weight: bold;
}




















@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2.00rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero-cta {
    left: 2.50rem;
  }

  .hero-cta h2 {
    font-size: 2.20rem;
  }

  .hero-cta p {
    font-size: 1.25rem;
    margin: 0;
  }

  .hero-cta img {
    width: 200px;
  }

  .vehicle-detail {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .vehicle-detail img {
    width: auto;
    max-width: 250px; 
    margin-bottom: 0;
    margin-right: 20px;
  }

  .vehicle-detail .details {
    flex: 1; 
    max-width: 600px; 
    display: flex;
    flex-direction: column;
  }
  .form-container {
    max-width: 400px;
  }
}

@media (min-width: 1025px) {
  :root {
    background-image: url("/images/site/checkerboard.jpg");
    background-size: auto auto;
    background-repeat: repeat;
  }

  body {
    border: 4px solid var(--border-color);
    border-radius: 10px;
    max-width: 1000px;
    font-size: 1rem;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.40rem;
  }

  .hero-cta {
    left: 4.0rem;
  }

  .hero-cta h2 {
    font-size: 2.75rem;
  }

  .hero-cta p {
    font-size: 1.50rem;
    margin: 0;
  }

  .info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero-cta img {
    width: 250px;
  }

  .vehicle-detail {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .vehicle-detail img {
    max-width: 400px; 
    margin-bottom: 0;
    margin-right: 20px;
  }

  .vehicle-detail .details {
    flex: 1; 
    max-width: 100%; 
    display: flex;
    flex-direction: column; 
  }
  .form-container {
    max-width: 450px;
  }
}
